.BadgeNew__hero {
    width: 100%;
    padding: 2rem 0;
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
    margin-bottom: 1rem;
    color: black;
}

.BadgeNew__container {
    position: relative;
    top: -50%;
    max-width: 800px;
    height: 75vh;
    display: flex;
}

.BadgeNew-form__container {
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    min-height: 700px;
    width: 100%;
    color: rgb(38, 38, 38);
}