.Error__container {
    color: rgb(70, 70, 70)
}

.Error__container--code span {
    font-size: 10rem;
}

.Error__container--code {
    max-height: 13rem;
    border-top: 0.5rem solid;
    border-bottom: 0.5rem solid;
}

.Error__container--message {
    font-size: 1.2rem;
    margin: 1rem;
}